<mat-card class="league-card">
  <mat-card-content>

    <div class="card-header">
      <div>
        <h3 class="league-title">
          {{ league.nombre }}
        </h3>

        <div class="badges">

          <span class="type-badge">
            {{ league.tipo_liga }}
          </span>

          <span
            class="status-badge"
            [ngClass]="league.estado?.toLowerCase()"
          >
            {{ league.estado }}
          </span>

        </div>
      </div>
    </div>

    <div class="card-content">

      <div class="info-row">
        <span class="label">Precio</span>
        <span class="value">
          Q{{ league.precio_participacion }}
        </span>
      </div>

      <div class="info-row">
        <span class="label">ID Liga</span>
        <span class="value">
          {{ league.id_liga }}
        </span>
      </div>

    </div>

  </mat-card-content>

  <mat-card-actions class="card-actions">
    <button mat-flat-button class="view-button" [routerLink]="['/principal/ligas', league.id_liga]">
      Ver Liga
    </button>
  </mat-card-actions>

</mat-card>